<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>PhotoGrid</title>
	<link rel="stylesheet" href="/css/main.css">
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/js/photogrid_utils.js"></script>
	<script>
		$(function(){
			var host = '{{host}}';

			function renderList(fullList, id){
				var qs;
				qs = (fullList? '?full': (id!==''? '?id='+id: ''));
				ajax({
					url: host+'/getimages' + qs,
					success: function(data){
						var imagelist = JSON.parse(data.response);
						for(var i=0; i<imagelist.length; i++){
							var str = '				<li>';
									str += '			<div class="overlay">';
									str += '			<div class="voteCtrl">';
									str += '				<a href="#" class="voteUp">';
									str += '					<img data-photoid="' + imagelist[i]._id +'" src="/images/voteup.png" alt="Click Here to Vote Up !">';
									str += '					<h4>' + imagelist[i].votes +'</h4>';
									str += '				</a>';
									str += '			</div>';
									str += '			</div>';
									str += '			<div class="imageHolder">';
									str += '				<img src="https://s3-us-west-1.amazonaws.com/fapgrid/'+ imagelist[i].filename +'" alt="">';
									str += '			</div>';
									str += '		</li>';
									$('.gallery ul').append(str);
						}
					}
				})
			}
			renderList(true);
			$(document).on('click', '#doUpload', function(){
				uploadNow();
			});

			var socket = io(host);
			socket.on('status', function(data){
				showStatus(data.msg, data.delay);
			});
			socket.on('doUpdate', function(data){
				//console.log('doUpdate data: ', data);
				renderList(false, data.id);
			});

			function uploadNow(){
				$('.progress').fadeIn(100);
				var uploadUrl = host + '/upload';
				var uploadFile = $('.uploadPic');
				if('' !== uploadFile.val()){
					var form = new FormData();
					form.append('upload', uploadFile[0].files[0]);
					// perform the Ajax POST request to send the file.
					ajax({
						method: 'POST',
						url: uploadUrl,
						success: function(){
							$('.progress').fadeOut(200);
							uploadFile.val('');
						},
						progress: function(e){
							if(e.lengthComputable){
								var perc = Math.round((e.loaded *100) / e.total);
								$('.progress').css('width', (perc + "%"));
							}
						},
						payload: form
					});
				}
			}
		});
	</script>

</head>
<body>
	<div class="container">
		<div class="topDeck">
			<div class="logo">
				<h1>PhotoGRID</h1>
			</div>
			<div class="controls">
				<input type="file" name="uploadPic" class="uploadPic">
				<button id="doUpload">Upload</button>
				<div class="progressBarDiv">
					<div class="progress"></div>
				</div>
				<h5 class="status"></h5>
			</div>
		</div>
		<div class="gallery">
			<ul>
				<!-- Repeat the following <li> structure for every image-->
				<li>
					<div class="overlay">
					<div class="voteCtrl">
						<a href="#" class="voteUp">
							<img src="/images/voteup.png" alt="Click Here to Vote Up !">
							<h4>100</h4>
						</a>
					</div>
					</div>
					<div class="imageHolder">
						<img src="../images/someimage.jpg" alt="">
					</div>
				</li>
				<!-- End Repeat -->


			</ul>
		</div>
	</div>
</body>
</html>
